In [2]:
import pandas as pd

In [4]:
# load the school demo data from the open api server
demo_url = "https://data.cityofnewyork.us/resource/45j8-f6um.csv"
df = pd.read_csv(demo_url)

In [5]:
df

,dbn,school_name,year,total_enrollment,grade_pk_half_day_full_day,grade_k,grade_1,grade_2,grade_3,grade_4,...,multiple_race_categories_1,white,white_1,students_with_disabilities,students_with_disabilities_1,english_language_learners,english_language_learners_1,poverty,poverty_1,economic_need_index
0,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,0.005,2,0.011,64,0.350,17,0.093,169,0.923,0.930
1,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,0.017,2,0.011,60,0.341,16,0.091,149,0.847,0.889
2,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,0.022,4,0.022,51,0.287,12,0.067,152,0.854,0.882
3,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,0.011,6,0.032,49,0.258,8,0.042,161,0.847,0.890
4,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,0.006,6,0.034,38,0.218,8,0.046,145,0.833,0.880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,04M108,P.S. 108 Assemblyman Angelo Del Toro Education...,2014-15,626,18,36,52,54,53,57,...,0.014,11,0.018,155,0.248,77,0.123,497,0.794,0.844
996,04M108,P.S. 108 Assemblyman Angelo Del Toro Education...,2015-16,594,17,46,31,48,54,54,...,0.012,8,0.013,179,0.301,77,0.130,479,0.806,0.867
997,04M108,P.S. 108 Assemblyman Angelo Del Toro Education...,2016-17,513,17,38,45,30,53,44,...,0.008,9,0.018,156,0.304,59,0.115,413,0.805,0.856
998,04M108,P.S. 108 Assemblyman Angelo Del Toro Education...,2017-18,452,13,31,34,40,29,47,...,0.007,8,0.018,148,0.327,41,0.091,405,0.896,0.928
999,04M108,P.S. 108 Assemblyman Angelo Del Toro Education...,2018-19,470,53,33,37,36,35,34,...,0.013,16,0.034,147,0.313,32,0.068,406,0.864,0.918